#Actividad 3

Primero importamos la biblioteca Numpy y Pandas, creamos una variable donde guardamos nuestra dirección URL, donde se encuentran los datos que vamos a utilizar. Hacemos un DataFrame df que se alimenta de nuestro archivo en la dirección URL. Como no conocemos la cantidad de renglones que no son de interes, imprimimos el encabezado y final del dataframe utilizamos las operaciones df.head y df.tail para visualizar la cantidad de renglones que omitiremos, de manera que solamente estaremos trabajando con datos relevantes.

In [1]:
import pandas as pd
import numpy as np

In [2]:
url = "https://raw.githubusercontent.com/Eduardo-Lares-Miranda/FisicaComputacional1/master/Actividad%203/Datosdiarios.txt"

nombres = ['Fecha', 'Precip', 'Evap', 'TMax', 'TMin']

df_data = pd.read_csv( url, names=nombres, encoding='cp1251', sep='\s+', header=None, skiprows=19, skipfooter=1, engine='python' )

Una vez leído tu archivo de datos, usando la función "df.head(n)" y "df.tail()", y estudia la estructura de tu archivo, para determinar que renglones trae la información de los nombres de las columnas y en qué número de renglón comienzan los datos. Buscamos quedarnos con un DataFrame con los nombres de las columnas en el primer renglón y el resto de renglones serán sólo datos diarios de la estación meteorológica.

In [3]:
#Revisamos el encabezado y el final del dataframe
print(df_data.head())
print(" ")
print(df_data.tail())
print(" ")

        Fecha Precip  Evap TMax  TMin
0  06/11/1980      0  Nulo   29  Nulo
1  07/11/1980      0  Nulo   32     9
2  08/11/1980      0  Nulo   31     8
3  09/11/1980      0  Nulo   31     7
4  10/11/1980      0  Nulo   30     9

                                   Fecha Precip  Evap  TMax  TMin
12484                         28/03/2016      0  Nulo    30    12
12485                         29/03/2016      0  Nulo    27    16
12486                         30/03/2016      0  Nulo    26     6
12487                         31/03/2016      0  Nulo  Nulo     5
12488  ---------------------------------   None  None  None  None

Se pide explorar el dataframe recién cargado a la memoria. Para esto, se pide hacer una bitácora anotando o agregando un comentario de las acciones desarrolladas.

In [4]:
#Revisamos los encabezados y el final del dataf rame
print(df_data.head(10))  
print(" ")
print(df_data.tail(10))  
print(" ")

        Fecha Precip  Evap TMax  TMin
0  06/11/1980      0  Nulo   29  Nulo
1  07/11/1980      0  Nulo   32     9
2  08/11/1980      0  Nulo   31     8
3  09/11/1980      0  Nulo   31     7
4  10/11/1980      0  Nulo   30     9
5  11/11/1980      0  Nulo   31    10
6  12/11/1980      0  Nulo   29     9
7  13/11/1980      0  Nulo   29    12
8  14/11/1980      0  Nulo   27     8
9  15/11/1980      0  Nulo   24     7

                                   Fecha Precip  Evap  TMax  TMin
12479                         23/03/2016      0  Nulo    31    17
12480                         24/03/2016      0  Nulo    29    12
12481                         25/03/2016      0  Nulo    30    12
12482                         26/03/2016      0  Nulo    30    13
12483                         27/03/2016      0  Nulo    33    13
12484                         28/03/2016      0  Nulo    30    12
12485                         29/03/2016      0  Nulo    27    16
12486                         30/03/2016      0  Nulo    26     6
12487                         31/03/2016      0  Nulo  Nulo     5
12488  ---------------------------------   None  None  None  None

In [5]:
#Revisamos el tamaño con la función shap
print(df_data.shape)

(12489, 5)

In [6]:
#Mostramos la información del archivo txt
print(df_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12489 entries, 0 to 12488
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   12489 non-null  object
 1   Precip  12488 non-null  object
 2   Evap    12488 non-null  object
 3   TMax    12488 non-null  object
 4   TMin    12488 non-null  object
dtypes: object(5)
memory usage: 488.0+ KB
None

In [7]:
#Hacemos una copia y conservamos el DataFrame original
df_tran0 = df_data.copy()

print(df_tran0.head())

        Fecha Precip  Evap TMax  TMin
0  06/11/1980      0  Nulo   29  Nulo
1  07/11/1980      0  Nulo   32     9
2  08/11/1980      0  Nulo   31     8
3  09/11/1980      0  Nulo   31     7
4  10/11/1980      0  Nulo   30     9

In [8]:
#Hacemos un reemplazo de los 'Nulo' por un espacio en blanco
str_nulo = 'Nulo'
df_tran1 = df_tran0.replace( to_replace=str_nulo, value='', regex=True)

print(df_tran1.head())

        Fecha Precip Evap TMax TMin
0  06/11/1980      0        29
1  07/11/1980      0        32    9
2  08/11/1980      0        31    8
3  09/11/1980      0        31    7
4  10/11/1980      0        30    9

In [9]:
#Se imprime la información actualizada
print(df_tran1.info())
print(" ")
print(df_tran1.head())
print(" ")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12489 entries, 0 to 12488
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   12489 non-null  object
 1   Precip  12488 non-null  object
 2   Evap    12488 non-null  object
 3   TMax    12488 non-null  object
 4   TMin    12488 non-null  object
dtypes: object(5)
memory usage: 488.0+ KB
None

        Fecha Precip Evap TMax TMin
0  06/11/1980      0        29
1  07/11/1980      0        32    9
2  08/11/1980      0        31    8
3  09/11/1980      0        31    7
4  10/11/1980      0        30    9

In [13]:
#Convertimos los valores de las variables ambientales a numeros flotantes
cols_list = ['Fecha', 'Precip', 'Evap', 'TMax', 'TMin']
for cols in cols_list:
  df_tran1[cols] = pd.to_numeric(df_tran1[cols], errors='coerce')

In [14]:
print(df_tran1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12489 entries, 0 to 12488
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   0 non-null      float64
 1   Precip  12475 non-null  float64
 2   Evap    0 non-null      float64
 3   TMax    12435 non-null  float64
 4   TMin    12457 non-null  float64
dtypes: float64(5)
memory usage: 488.0 KB
None

In [15]:
#Se suman los valores nulos
print(df_tran1.isnull().sum())

Fecha     12489
Precip       14
Evap      12489
TMax         54
TMin         32
dtype: int64

In [16]:
print(df_tran1.head())
print(" ")
print(df_tran1.head())
print(" ")

   Fecha  Precip  Evap  TMax  TMin
0    NaN     0.0   NaN  29.0   NaN
1    NaN     0.0   NaN  32.0   9.0
2    NaN     0.0   NaN  31.0   8.0
3    NaN     0.0   NaN  31.0   7.0
4    NaN     0.0   NaN  30.0   9.0

   Fecha  Precip  Evap  TMax  TMin
0    NaN     0.0   NaN  29.0   NaN
1    NaN     0.0   NaN  32.0   9.0
2    NaN     0.0   NaN  31.0   8.0
3    NaN     0.0   NaN  31.0   7.0
4    NaN     0.0   NaN  30.0   9.0

In [17]:
#Realizamos un análisis estadístico de las variables
print(df_tran1.describe().round(4))

       Fecha      Precip  Evap        TMax        TMin
count    0.0  12475.0000   0.0  12435.0000  12457.0000
mean     NaN      1.2537   NaN     31.9498     13.4062
std      NaN      5.1950   NaN      7.5476      7.7584
min      NaN      0.0000   NaN      8.0000     -6.0000
25%      NaN      0.0000   NaN     26.0000      7.0000
50%      NaN      0.0000   NaN     33.0000     13.0000
75%      NaN      0.0000   NaN     38.0000     21.0000
max      NaN     77.0000   NaN     48.0000     31.0000

Análisis de la variable Fecha. Pandas maneja las variables tipo Fecha y Tiempo. Ofrece una serie de herramientas para su manipulación. Lo que sigue es convertir el objeto que se ha leído a una variable que Python comprenda.

In [18]:
#Hacemos una copia y conservamos el Dataframe
df_tran2 = df_tran1.copy()

print(df_tran2['Fecha'].head())

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: Fecha, dtype: float64

In [19]:

# Pandas tiene la función pd.to_datetime que convierte una cadena en tipo datetime64[ns]
# Intentamos a ver si Python reconoce el formato en nuestro caso. 
# Agregamos la opción de que el primer dato es el día (dayfirst=True)
df_tran2['Fecha']=pd.to_datetime(df_tran2['Fecha'], dayfirst=True).copy()
print(df_tran2.head())

  Fecha  Precip  Evap  TMax  TMin
0   NaT     0.0   NaN  29.0   NaN
1   NaT     0.0   NaN  32.0   9.0
2   NaT     0.0   NaN  31.0   8.0
3   NaT     0.0   NaN  31.0   7.0
4   NaT     0.0   NaN  30.0   9.0

In [20]:
#Verificamos que las columnas sean del tipo que queremos
df_tran2.dtypes

Fecha     datetime64[ns]
Precip           float64
Evap             float64
TMax             float64
TMin             float64
dtype: object

In [21]:
#Agregamos columnas adicionales
df_tran2['Año'] = df_tran2['Fecha'].dt.year
df_tran2['Mes'] = df_tran2['Fecha'].dt.month

In [22]:
#Revisamos si fueron creadas
print(df_tran2.head())
print(" ")
print(df_tran2.tail())
print(" ")

  Fecha  Precip  Evap  TMax  TMin  Año  Mes
0   NaT     0.0   NaN  29.0   NaN  NaN  NaN
1   NaT     0.0   NaN  32.0   9.0  NaN  NaN
2   NaT     0.0   NaN  31.0   8.0  NaN  NaN
3   NaT     0.0   NaN  31.0   7.0  NaN  NaN
4   NaT     0.0   NaN  30.0   9.0  NaN  NaN

      Fecha  Precip  Evap  TMax  TMin  Año  Mes
12484   NaT     0.0   NaN  30.0  12.0  NaN  NaN
12485   NaT     0.0   NaN  27.0  16.0  NaN  NaN
12486   NaT     0.0   NaN  26.0   6.0  NaN  NaN
12487   NaT     0.0   NaN   NaN   5.0  NaN  NaN
12488   NaT     NaN   NaN   NaN   NaN  NaN  NaN

In [23]:
#Nos aseguramos que mes y año sean variables numéricas
print(df_tran2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12489 entries, 0 to 12488
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   0 non-null      datetime64[ns]
 1   Precip  12475 non-null  float64
 2   Evap    0 non-null      float64
 3   TMax    12435 non-null  float64
 4   TMin    12457 non-null  float64
 5   Año     0 non-null      float64
 6   Mes     0 non-null      float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 683.1 KB
None